@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for style buttons */
.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* TESTE: Cor de fundo vermelha para verificar se o CSS está sendo carregado */
body {
  background-color: #ff0000 !important; /* Fundo vermelho */
}