@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for style buttons */
.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* TESTE: Borda grossa para verificar se o CSS está sendo carregado */
#root {
  border: 5px solid purple !important; /* Borda roxa */
}